<div class="container mt-5">
    <h2 class="mb-4">Lista de Autores</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Nacionalidade</th>
                <th scope="col">Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.nome }}</td>
                    <td>{{ autor.nacionalidade }}</td>
                    <td>{{ autor.data_nascimento }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>