<div class="container mt-5">
    <h2 class="mb-4">Lista de Leitores</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for leitor in leitores %}
                <tr>
                    <td>{{ leitor.nome }}</td>
                    <td>{{ leitor.cpf }}</td>
                    <td>{{ leitor.email }}</td>
                    <td>{{ leitor.telefone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>